  .recepty{
      /* width: auto;
     height: 100px; */
  }
  .detail {
  
   padding-left: 85%;

  }
  .icon {
    
    padding-top: 30%;
  }

  .rating{

    grid-row: 3;
    display: flex;
    justify-content:center;
    gap: 15px;
  
   
    
    
  }
 
  #rating {
    grid-row: 5;
  }