
*,
*::before,
*::after {
  box-sizing: border-box;
}
.zkouska{
  width: 100%;
  color: #1762A7;
  font-family: var(--font-family);

}
.add{

  color: #1762A7;
  margin-top: 70px;
 margin-left: 20px;
 padding-bottom: 20px;
 

}
.delete{
  color: #1762A7;
  margin-top: 70px;
  margin-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.neco{
display: flex;
width: 100%;
align-items: flex-end;




}
.neco p#raw_materials{
  width: 70%;
  margin-right: 10px;
}
.neco p#count{
  
  margin-right: 10px;
}
.neco p#unit{
 /* margin-top: 10px; */
 margin-bottom: 7px;
 height: 20px;
  
}
.widht{
  width: 20%;
}
/* .neco p {
 
width: auto;
} */
.popupwin-content h2 {
  color:#1762A7;
  font-family: 'Poppins';
}

.select {
 
  width: 200%;

}
#unit{
  padding-bottom: 78px;
}
:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.popupwin-content input {
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  border: 2px solid #fff;
}


.popupwin-content input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #1762A7;
  color: white;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}

.popupwin-content input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #1762A7;
  color: white;
  border-radius: 0px 5px 0px 5px;
  outline: none;
}

.popupwin-content input[type=time] {

  width: 100%;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  background-color: #1762A7;
  color: white;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}
.popupwin-content input[type=submit] {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #1762A7;
  color: white;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}
.popupwin-content input[type=submit]:hover {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: lightblue;
  color: white;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}
.popupwin-content select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #1762A7;
  color: white;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  border: 2px solid #fff;
  
}

.popupwin-content textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #1762A7;
  color: white;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  border: 2px solid #fff;
  font-family: 'Poppins';
}


.popupwin-content__recipename {
  padding:0,2%;
  color: black;
  
}

.popupwin-content__date {
  padding: 0,2%;
}


.popupwin-content__photo {
  
  padding: 0,2%;

}









.popupwin-button input {
  
  flex: 0.3;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #1762A7;
  border: 2px solid #1762A7;
 
  color: white;
 

  display: flex;
  flex-direction: row;


}
 .popupwin-button:hover{
  background: #94c4ff;
border-radius: 5px;
padding: 2px;
 }
.alert {
text-align: center;
width: 100%;
}
input:required:invalid, input:focus:invalid, select:required:invalid, select:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
  background-position: right top;
  background-repeat: no-repeat;
  background-color: rgb(221, 138, 138);
  -moz-box-shadow: none;
}
input:required:valid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
  background-position: right top;
  background-repeat: no-repeat;
}